name: Build and Publish to Modrinth

on:
  push:
    tags:
      - "v*"   # Se ejecuta cuando hagas un tag como v1.0.0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      - name: Publish to Modrinth
        run: ./gradlew modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
